* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #f8f8fc;
}
a {
  color: inherit;
  text-decoration: none;
}

:root {
  --primary: #4d32b3;
  --primary-hover: #3b2b7e;

  --sidebar-bg: #0f1024;
  --sidebar-secondary: #18193a;

  --background: #f7f8fc;

  --card-bg: #ffffff;

  --border: #eceef4;

  --text-primary: #111827;
  --text-secondary: #7e838f;

  --success-bg: #e9f9ef;
  --success-text: #0d9f4f;

  --warning-bg: #fff4e5;
  --warning-text: #ff8b08;

  --danger-bg: #feeaea;
  --danger-text: #ef4444;

  --shadow: 0 8px 30px rgba(0, 0, 0, 0.05);

  --radius: 18px;

  --transition: 0.25s ease;
}

.Toastify__toast {
  min-height: 40px !important;
  width: 280px !important;
  font-size: 14px !important;
  padding: 18px 12px !important;
}
